html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    display: flex;
    font-display: swap;
    height: inherit;
    justify-content: center;
    color: white;
}

#intro-page {
    position: relative;
    height: 100vh;
    width: 100vw; 
}

#intro-background {
    position: absolute;
    height: 1080px;
    width: 1920px;
    margin: auto;
    background-image: url(background.jpg);
    background-size: contain;
    transform: rotate(180deg);
    z-index: 0;
}

header {
    position: absolute;
    display: block;
    width: 100%;
    font-size: 2rem;
}

#about {
    position: inherit;
    font-size: 4rem;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    opacity: 0;
    z-index: 1;
    filter: blur(4px);
    animation: scale 2s forwards;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    position: inherit;
    visibility: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    display: inline-block;
    height: 600px;
    width: 1200px;
    visibility: inherit;
    overflow: hidden;
    display: flex;
    align-items: center;
}


@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

@keyframes fade-out {
    100% {
      opacity: 0;
      filter: blur(1);
    }
}

#nav-wrap {
    position: absolute;
    height: 13rem;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    transition: top 1s ease-in;
    left: 50%;
    transform: translate(-50%);
}

nav {
    position: inherit;
    text-align: center;
    padding: 0 15%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: black;
    z-index: 11;
}

.center {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#opening {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#about-button {
    position: absolute;
    top: 45%;
    left: 3%;
    rotate: -90deg;
    border: none;
    color: lightgray;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
}

#about-button:hover {
    color: white;
}

#opening-group {
    position: inherit;
    opacity: 1;
    height: 100%;
    width: 100%;
}

#name {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    min-height: 200px;
}

#opening h1 {
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10rem;
}

#opening h2 {
    font-size: 3rem;
    text-align: center;
}


nav li {
    position: relative;
    font-size: 2rem;
    padding: 2rem 3rem;
    z-index: 11;
}

nav li a {
    color: whitesmoke;
}

nav li a:hover {
    text-shadow: #fff 1px 0 10px;
}

ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

main {
    position: relative;
}

main p {
    font-size: 100px;
}

#balance {
    position: absolute;
    top: 45%;
    right: 3%;
    rotate: -90deg;
    border: none;
    color: lightgray;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
}


/*arrow*/
.arrow {
    border: solid lightgray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 0;
  }
  
.right {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.left {
    transform: rotate(135deg) translate(-50%, -50%);
}

.up {
    transform: rotate(-135deg) translate(-50%, -50%);
}

.down {
    transform: rotate(45deg) translate(-50%, -50%);
}



#nav-arrow-down {
    position: inherit;
}

#main-arrow-down {
    position: inherit;
    top: 25px;
}

.arrow-box {
    position: inherit;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 10;
}

.arrow-box:hover {
    background-color: rgba(49, 49, 49, 0.5);
}

#main-arrow-box {
    top: 85%;
    display: flex;
}

#nav-arrow-box {
    top: 8.5rem;
}

#contact-main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#contact-main nav {
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#contact-box {
    position: absolute;
    height: 40vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    border: solid 2px white;
    background-color: rgba( 255, 255, 255, 0.5);
}

#contact-box h1 {
    position: inherit;
    font-size: 3em;
    top: 10%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.01);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, .75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: inherit;
}

.calc-button:active {
    background-color: #ffef78;
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}

#calc-main nav {
    background: linear-gradient(320deg, #ffef78, #63c9b4, #eb92be);
}

#calc-main .arrow {
    margin-top: 15px;
}

#calc-main li a {
    text-shadow: #232323 1px 0 10px;
}

#calc-main li a:hover {
    text-shadow: black 1px 0 10px;
}

.gallery {
    display: flex;
    align-items: center;
    column-gap: 20px;
    overflow-x: scroll;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    width: 300px;
    border: 5px solid red;
    float: left;
}

.gallery-item {
    scroll-snap-align: center;
    min-width: 75%;
    width:1000px;
    float:left;
    font-size:15px;
    font-family:arial;
    padding:10px;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}